<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>User Input</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form method=post action="">
  			<h1>
			Generated graph for {{ form.ticker.data }}<br>
			<a href="file://localhost/~/Documents/GitHub/FlaskAGR/FlaskAGR/Templates/view_input.html">Back</a>
			</h1>
			<br>
			<h3> {{s}} </h3>
		 </form>
	</body>
</html>